<html>
<head>
<title>这是头部文件</title>
<body>头文件
<script>

function view(id){
window.open('/frm/exam_lib/html1/index/view/id/'+id);
}
</script>
</head>

<body>
<h1>郑州官方称巡防队“阻志愿者下水救人”说法不实</h1>
<p class="first">中新网郑州8月8日电(记者齐永)针对媒体报道《郑州义务搜救队欲下水搜寻溺水者 遭巡防队阻止》一事，郑州市委宣传部回应称，“冬泳队员”提出下水也仅是实施“打捞”，而非“紧急情况下”的“救援”和“救人”。</p>
<p>针对媒体报道称，郑州一名市民在郑州郑东新区如意湖溺水，当地一个公益团体郑州市水上义务搜救队东区队长牛振西带人赶到现场施救，却遭到了巡防队员的阻止，他们要求牛振西必须出示“打捞许可证”，否则不能下水。最终，溺水市民抢救无效死亡。</p>
<p>对此，郑州市委宣传部回应称，事发后，郑东新区管委会立即组成了联合调查组，进行了调查。</p>
<p>据介绍，8月4日早上，负责郑东新区河道管养工作的河南水利建筑工程有限公司人员宋师傅在昆丽河众意路至九如路段(并非网友反映的“如意湖”)巡逻时，发现了许多白酒瓶玻璃碎片及白色运动外衣一件，疑有人在河中游泳溺水，通过其遗落在现场的手机与其家人联系，家人反映此人为孟姓女士，半年前被确诊为癌症晚期，有重度抑郁症，8月3日晚酒后外出至今未归。</p>
<p>结合现场遗落物品和家人所述情况，河道管养人员在不确定孟女士是否落水的情况下，通知其家人迅速赶到现场进行寻找，并第一时间向公安和消防部门报警。</p>
<p>郑东新区公安部门和消防大队中午接到报警后，迅速赶赴现场，并在怀疑其极有可能跳水的地方，派出打捞船只和消防人员实施打捞。经过2个多小时的打捞，搜救范围不断缩小，但仍未发现人员溺亡迹象。</p>
</body>
</html>
